version: '3.8'

services:

 #Database utenti tramite PostgreSQL
  user-db:
    image: postgres:15-alpine
    container_name: user_db_container
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  #Database dei dati tramite MongoDB
  data-db:
    image: mongo:6.0
    container_name: data_db_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  user-manager:
    build: ./user_manager
    container_name: user_manager_service
    ports:
      - "5000:5000"        #porta 5000 del container alla 5000 per Postman
      - "50051:50051"      #porta per il gRPC
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@user-db:5432/${POSTGRES_DB}
    depends_on:
      - user-db

  data-collector:
    build: ./data_collector
    container_name: data_collector_service
    ports:
      - "5001:5001"         #porta 5001 del container alla 5001 per Postman
      - "50052:50052"       #porta per il gRPC
    environment:
      - MONGO_URL=mongodb://data-db:27017/
      - USER_MANAGER_GRPC=user-manager:50051
      - OPENSKY_CLIENT_ID=${OPENSKY_CLIENT_ID}
      - OPENSKY_CLIENT_SECRET=${OPENSKY_CLIENT_SECRET}
    depends_on:
      - data-db
      - user-manager

volumes:
  postgres_data:
  mongo_data: